body {
	color: rgb(133, 26, 44);
	/* background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); */
	background-color: #fbf7ef;
	background-attachment: fixed;
}

* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
}

.page {
	position: relative;
	height: 1px;
	min-height: calc(100vh - 40px);
}

#setup {
	color: rgb(133, 26, 44);
}

#delivery {
	color: rgb(14, 107, 102);
}

#dad-image {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
}

#categories {
	border-radius: 10px;
	border: 2px dashed black;
	padding: 5px;
	margin-bottom: 10px;
}

#result {
	text-shadow: 1px 2px rgba(0, 0, 0, 0.425);
}

#result > * {
	line-height: 50px;
}

a {
	text-decoration: none;
}

nav > * {
	height: 40px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fbf7ef !important;
	letter-spacing: 1px;
}
#nav-col-1 {
	background-color: #a7c957;
	transition-duration: 0.3s;
}

#nav-col-2 {
	background-color: #386641;
	transition-duration: 0.3s;
}

#nav-col-3 {
	background-color: #bc4749;
	transition-duration: 0.3s;
}

#nav-col-1:hover {
	background-color: #7c2760;
	transition-duration: 0.3s;
}

#nav-col-2:hover {
	background-color: #12455c;
	transition-duration: 0.3s;
}

#nav-col-3:hover {
	background-color: #886720;
	transition-duration: 0.3s;
}
